@model IEnumerable<ShoppingWeb.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-4">
    @foreach(var item in @Model)
    {
        <div class="card" style="width:18rem;">
            <img class="card-img-top" src="@item.ImageUrl" alt="Kart fotografı" />
       <div class="card-body">
           <h5 class="card-title">@item.Name</h5>
           <p class="card-text">Fiyat: @item.Price.ToString("0.00")</p>
           <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Detay</a>
           </div>
        </div>
    }

</div>